.advan {
  padding-top: 70px;
  .advan-general {
    &__title {
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      text-align: center;
      color: #159600;
      margin-bottom: 50px;
    }
    &__block {
      background: #159600;
      padding: 30px 15rem;
      position: relative;
      left: -130px;
      width: 118.9%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__square {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 200px;
      p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }
}