@media (max-width: 768px) {
  .advan .advan-general__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    left: 0;
    width: 100%;
  }
  .advan .advan-general__square {
    margin: 20px 0;
  }
}

@media (max-width: 576px) {
  .advan-general__title h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-top: -251px;
    color: #000000;
  }

  .advan-general {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .advan-general2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
  }
}

@media (max-width: 450px) {
  .advan-general__title h1 {
    font-size: 26px;
  }
}

@media (max-width: 375px) {
  .advan .advan-general__title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #159600;
    margin-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .advan-general2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 9rem;
  }
}